/*.sdf
/ipch
/Debug
/*.opensdf
/*.suo
/jsort/Debug/*.tlog
/jsort/Debug/*.obj
/jsort/Debug/*.log
/jsort/Debug/*.manifest
/jsort/Debug/*.res
/jsort/Debug/*.lastbuildstate
/jsort/Debug/*.rc
/jsort/Debug/*.idb
/jsort/Debug/*.pdb
/jtree/Debug/*.tlog
/jtree/Debug/*.manifest
/jtree/Debug/*.res
/jtree/Debug/*.lastbuildstate
/jtree/Debug/*.log
/jtree/Debug/*.obj
/jtree/Debug/*.rc
/jtree/Debug/*.idb
/jtree/Debug/*.pdb
/Debug_Output/*.tlog
/Debug_Output/*.obj
/Debug_Output/*.lastbuildstate
/Debug_Output/*.log
/Debug_Output/*.manifest
/Debug_Output/*.res
/Debug_Output/*.rc
/Debug_Output/*.idb
/Debug_Output/*.pdb
/Debug_Output
